/* line 1, ../scss/style.scss */
.flex-video {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 0;
  margin-bottom: 1em;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.5625em;
  position: relative;
}
/* line 4, ../scss/style.scss */
.flex-video:before, .flex-video:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 20, ../scss/style.scss */
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
/* line 24, ../scss/style.scss */
.flex-video.vimeo {
  padding-top: 0;
}
/* line 28, ../scss/style.scss */
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Including MuseoSans 300 */
@font-face {
  font-family: 'MuseoSans-300';
  src: url("../fonts/museosans-300-webfont.eot");
  src: url("../fonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-300-webfont.woff") format("woff"), url("../fonts/museosans-300-webfont.ttf") format("truetype"), url("../fonts/museosans-300-webfont.svg#museo_sans300") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 46, ../scss/style.scss */
body {
  background: #F8F9FA;
  color: #4E5860;
  font-family: 'Museosans-300',sans-serif;
}
/* line 51, ../scss/style.scss */
body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
  font-family: 'Museosans-300',sans-serif;
}
/* line 55, ../scss/style.scss */
body .footer {
  clear: both;
  text-align: center;
  border: 1px solid #D9E0E2;
  background: #ffffff;
  padding-top: 15px;
  margin-bottom: 30px;
}
/* line 64, ../scss/style.scss */
body .bordered-content {
  border: 1px solid #D9E0E2;
  background: #ffffff;
  padding-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
/* line 71, ../scss/style.scss */
body .bordered-content .article {
  border-bottom: 1px solid #D9E0E2;
  overflow: hidden;
  clear: both;
  margin-bottom: 15px;
}
/* line 73, ../scss/style.scss */
body .bordered-content .article .article-title {
  padding: 0px 10px;
}
/* line 76, ../scss/style.scss */
body .bordered-content .article .article-title h2 {
  margin-top: 5px;
}
/* line 81, ../scss/style.scss */
body .bordered-content .article .article-meta {
  padding: 0px 10px;
  margin: 10px 0px;
}
/* line 86, ../scss/style.scss */
body .bordered-content .article .article-content {
  padding: 0px 10px;
}
/* line 95, ../scss/style.scss */
body .bordered-content .article .meta {
  margin-top: 15px;
}
/* line 99, ../scss/style.scss */
body .bordered-content .article .img {
  height: 170px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 104, ../scss/style.scss */
body .bordered-content .article .img img {
  border: none;
  padding: 0px;
}
/* line 110, ../scss/style.scss */
body .bordered-content .article .summary {
  margin: 12px 0px;
}
/* line 116, ../scss/style.scss */
body #main-content {
  border: 1px solid #D9E0E2;
  background: #ffffff;
  padding-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
/* line 123, ../scss/style.scss */
body #main-content .primary-collection {
  border-bottom: 1px solid #D9E0E2;
  padding-bottom: 15px;
}
/* line 127, ../scss/style.scss */
body #main-content .primary-collection .summary {
  margin-bottom: 12px;
}
/* line 134, ../scss/style.scss */
body .videos-listing .video-item {
  border: 1px solid #D9E0E2;
  border-bottom: 3px solid #D9E0E2;
  background: #ffffff;
  margin-bottom: 16px;
  margin-right: 10px;
  float: left;
  min-height: 422px;
}
/* line 142, ../scss/style.scss */
body .videos-listing .video-item h4 {
  padding: 0px 8px;
}
/* line 146, ../scss/style.scss */
body .videos-listing .video-item .summary {
  padding: 0px 8px 12px 8px;
}
/* line 152, ../scss/style.scss */
body .video-block {
  border: 1px solid #D9E0E2;
  border-bottom: 3px solid #D9E0E2;
  background: #ffffff;
  margin-bottom: 16px;
}
/* line 158, ../scss/style.scss */
body .video-block h4 {
  padding: 0px 5px;
}
/* line 164, ../scss/style.scss */
body .secondary-block h4 {
  margin-top: 15px;
  background: #F8F8F8;
  padding: 10px;
  margin-bottom: 0px;
}
/* line 169, ../scss/style.scss */
body .secondary-block h4 a {
  color: #777777;
}
/* line 172, ../scss/style.scss */
body .secondary-block h4 a:hover {
  color: #5e5e5e;
}
/* line 178, ../scss/style.scss */
body .secondary-block .img {
  height: 154px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 182, ../scss/style.scss */
body .secondary-block .img img {
  padding: 0px;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 191, ../scss/style.scss */
body .secondary-block .summary {
  margin-bottom: 10px;
}
/* line 195, ../scss/style.scss */
body .secondary-block .btn {
  display: block;
}

/* Media Query for the Extra Small Screens - xs */
@media (max-width: 767px) {
  /* line 205, ../scss/style.scss */
  .video-item {
    width: 100%;
  }

  /* line 211, ../scss/style.scss */
  .bordered-content .article .img {
    float: none;
    margin-right: 0px;
  }

  /* line 218, ../scss/style.scss */
  .article-video {
    width: 100%;
    margin: 0 auto;
  }
}
/* Media Query for the Small Screens - sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 227, ../scss/style.scss */
  .video-item {
    width: 46%;
  }

  /* line 233, ../scss/style.scss */
  .bordered-content .article .img {
    float: none;
    margin-right: 0px;
  }

  /* line 240, ../scss/style.scss */
  .article-video {
    width: 100%;
    margin: 0 auto;
  }
}
/* Media Query for the Medium Screens - md */
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 249, ../scss/style.scss */
  .video-item {
    width: 22%;
  }

  /* line 255, ../scss/style.scss */
  .bordered-content .article .img {
    float: left;
    margin-right: 15px;
  }

  /* line 262, ../scss/style.scss */
  .article-video {
    width: 60%;
    margin: 0 auto;
  }
}
/* Media Query for the Large Screens - lg */
@media (min-width: 1200px) {
  /* line 272, ../scss/style.scss */
  .video-item {
    width: 22%;
  }

  /* line 278, ../scss/style.scss */
  .bordered-content .article .img {
    float: left;
    margin-right: 15px;
  }

  /* line 285, ../scss/style.scss */
  .article-video {
    width: 60%;
    margin: 0 auto;
  }
}


.tab-pane {
    position: absolute;
}
