<div class="container tab-pane active" id="collection{{ id }}">
    <div class="row">
        <div class="bordered-content col-lg-12 col-md-12 col-sm-12">
            {{#with displayOptions }}
            <div class="collection" id="collection{{ displayMeta.0.source }}-{{ displayMeta.0.limit }}-{{ displayMeta.0.offset }}">
            </div>
            {{/with}}
        </div>
    </div>
    <div class="container">
        <div class="row footer">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div>
                    <p>Copyright &copy; 2013, <a href="http://www.mobstac.com">MobStac Inc</a></p>
                    <p>Build using <a href="http://developer.qa.mobstac.com">HTML5stac</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


