<section class="article">
    <h4><a href="{{ this.url }} ">{{{ this.title }}}</a></h4>
    <div class="img">
        {{ mcimg this.media.images.0.origSrc 300 300 this.media.images.0.altText }}
    </div>
    <div class="meta">
        {{#if this.updated }}<strong>Updated : </strong><span>{{ this.updated }} </span>{{/if}}
        {{#if this.author }}<strong>Author : </strong><span>{{ this.author }}</span>{{/if}}
    </div>
    <div class="summary">
        {{{ this.summary }}}
    </div>
    <a href="{{ this.url }}" class="btn btn-default">Continue reading</a>
</section>
